@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}





@{ ViewBag.Title = "RoleList"; }


@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link href="
https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="
https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>

    <script src="
https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            align-items: center;
            justify-content: center;
        }

        nav {
            background-color: #0c4da2;
        }

        .nav-link {
            color: white;
        }

            .nav-link:hover {
                color: darkorange;
            }

        

        

            button:hover {
                background-color: darkorange;
            }

        span {
            color: red;
        }

        .navbarCenter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 90px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbarCenter">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link active fs-4" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4" href="/Dashboard/AddCompany" >Add Company</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4" href="/Dashboard/GetCompanyList">Company List</a>
                    </li>
                </ul>
            </div>
            <div>

            </div>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="fs-3 text-white">@ViewBag.sess</a>
                </li> <li class="nav-item">
    <a class="nav-link fs-4" href="/User/Login">Log Out</a>
</li>
            </ul>

        </div>
    </nav>


    <div class="w-50 m-auto mt-5 ">
        <h3> Welcome <b>  @ViewBag.sess</b>  update  your Copmpany  Details <a href="/Dashboard/AddCompany">here</a> </h3>
    </div>


   



    <script>


    </script>

</body>


</html>








